@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poiret+One&family=Press+Start+2P&family=Righteous&family=Silkscreen&family=Zen+Dots&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.qrCode {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    z-index: 999;
}