{% extends "base.jinja" %} {% block content %}
<style>
	.errors {
		margin: auto;
		margin-bottom: 10px;
	}
	.error {
		background-color: var(--color-12);
		padding: 8px;
		border-radius: 8px;
		width: fit-content;
	}
</style>

<div class="big-center">
	<h1>YO</h1>
	<h2>Seems like you aren't logged in</h2>
	<a class="button" href="{{auth_url}}">DO IT</a>

	{% with errors = get_flashed_messages(category_filter=["error"]) %} {% if
	errors %}
</div>
<div class="errors">
	{%- for msg in errors %}
	<div class="error">{{ msg }}</div>
	{% endfor -%}
</div>
{% endif %} {% endwith %} {%endblock%}
