{% extends "base.jinja" %}
<!--   -->
{% block title %} Twitter Wall: Admin Panel {% endblock %}
<!--   -->
{% block content %}

<style>
	#header {
		background: var(--color-4);
		position: sticky;
		top: 0;
	}
	#header > h1 {
		font-size: 3rem;
		text-align: center;
	}
	#filterButtons {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	#filterButtons > a,
	#filterButtons > form > input {
		padding: 10px 15px;
		margin: 10px;
		background: var(--color-2);
		text-decoration: none;
		border-radius: 8px;
		transition: color 0.2s, background 0.2s;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
			rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
		border: none;
		font-weight: 400;
		font-size: 1rem;
		cursor: pointer;
	}
	#filterButtons > a.active {
		background: var(--color-11);
	}
	#filterButtons > a:hover,
	#filterButtons > form > input:hover {
		background: var(--color-6);
		color: var(--color-1);
	}
	#tweets {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.tweet {
		width: 70%;
		margin: 15px 0;
		padding: 10px;
		box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
			rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
		border-radius: 15px;
		background: var(--color-15);
	}

	.tweet.bad {
		background: var(--color-13);
	}

	.tweet > p {
		overflow: hidden;
		text-overflow: ellipsis;
	}
</style>

<div id="header">
	<h1>ADMIN PANEL</h1>

	<div id="filterButtons">
		<form action="/update_db" method="post">
			<input type="submit" value="Refresh Tweet Database" />
		</form>

		{% set filter_buttons = [ ('all', 'All Tweets'), ('good', 'Authorized'),
		('bad', 'Black Listed') ] -%} {# ideally i would use list virtualisation
		for this but cba cause im not using react or something more advanced #}
		{% for filter, text in filter_buttons %}
		<!-- prettier-ignore -->
		<a {%if filter in filter_type %} class="active" {% endif %} href="/panel?filter={{filter}}">{{text}}</a>
		{% endfor %}
	</div>
</div>

<div id="tweets">
	{% for tweet in tweets %}
	<div class="tweet {%if tweet['AUTHORIZED']==0%}bad{%endif%}">
		<p>{{tweet['TWEET_TEXT']}}</p>
		<p>{{tweet['TWEET_AUTHOR_USERNAME']}}</p>
		<p>{{tweet['TWEET_AUTHOR_NAME']}}</p>
		<form
			action="/update_tweet_auth?id={{tweet['TWEET_ID']}}&auth={{(tweet['AUTHORIZED']+1)%2}}"
			method="post">
			<input
				type="submit"
				value="{%if tweet['AUTHORIZED']==0%}Yes{%else%}No{%endif%}" />
		</form>
	</div>
	{% endfor %}
</div>

{% endblock %}
