{% extends "base.jinja" %} {% block title %}Twitter Wall: Admin Panel{% endblock
%} {% block content %}

<div id="header">
	<h1>ADMIN PANEL</h1>
</div>
<div style="position: sticky; top: 0">
	<div class="center">
		<a
			href=""
			class="button"
			style="border: none; font-size: 15px; font-weight: 500">
			Refresh Tweet Database
		</button>
	</div>
	<ul id="filterButtons">
		{% set filter_buttons = [ ('all', 'All Tweets'), ('good', 'Authorized'),
		('bad', 'Black Listed') ] -%} {% for filter, text in filter_buttons %}
		<li class="{% if filter==filter_type %}active{%endif%}">
			<a class="button" href="/panel?filter={{filter}}">{{text}}</a>
		</li>
		{% endfor %}
	</ul>
</div>
<div id="tweets">
	{% for tweet in tweets %}
	<div class="tweet {%if tweet['AUTHORIZED']==0%}bad{%endif%}">
		<p>{{tweet['TWEET_TEXT']}}</p>
		<p>{{tweet['TWEET_AUTHOR_USERNAME']}}</p>
		<p>{{tweet['TWEET_AUTHOR_NAME']}}</p>
		<form
			action="/update_tweet_auth?id={{tweet['TWEET_ID']}}&auth={{(tweet['AUTHORIZED']+1)%2}}"
			method="post">
			<input
				type="submit"
				value="{%if tweet['AUTHORIZED']==0%}Yes{%else%}No{%endif%}" />
		</form>
	</div>
	{% endfor %}
</div>

{% endblock %}
