{% extends "base.jinja" %} {% block title %}Twitter Wall{% endblock %} {% block
content %}
<style>
	@media only screen and (max-height: 100px) {
		html {
			background-color: lightblue;
			overflow-y: hidden;
		}
		#tweets {
			display: flex;
			flex-direction: row;
		}
		.tweet > p {
			max-width: 500px;
			width: fit-content;
		}
	}
</style>

<div id="tweets">
	{% for tweet in tweets %}
	<div class="tweet">
		<p>{{tweet['TWEET_TEXT']}}</p>
	</div>
	{% endfor %}
</div>
{% endblock %}
