
.ninteesContainer {
    background-image: url("https://i.imgur.com/SHZe50s.gif");
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: yellow;
}

.blink {
	 animation: blink .75s linear infinite;
}

.tweetText {
    animation: animatedText 2s ease-in-out alternate infinite;
}

@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}

@keyframes animatedText {
    0% {
        transform: translateX(-15%);
    }
    100% {
        transform: translateX(15%);
    }
}